html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background: #e2e2e2;
}
.app-header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}
.login-wrapper {
    height: 100%;
}
.title {
    text-decoration: none;
    color: #ffffff;
}
.example-container {
    top: 4.5em;
    width: 100%;
    height: 600px;
    margin: 0;
    border: 1px solid #555;
}

table,td,th{
    border: none;
    padding: 20px;
}

p{
    text-align: center;
    margin-top: 2em;
    border-bottom: 1px solid black;
    padding: 10px;
}